<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<style>
		.social-links ul li:hover{
			transform:translateY(-5px);
			transition:0.2s;
		}
		.social-links ul li{
			transition:0.2s;
		}

		#logoutbutton:hover{
			color:white;
		}
		#logoutbutton:hover::after {
			width: 100%;
		}
		#logoutbutton {
			position: relative;
			overflow: hidden;
			transition: 0.2s;
			color: black;
		}

		#logoutbutton::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: #daa556;
			transition: 0.3s;
			z-index: -1;
		}

		#logoutbutton:hover::after {
			width: 100%;
		}

		#logoutbutton:hover {
			color: white;
		}
		.profile-pic{
			width:45px;
			height:45px;
			border-radius:50%;
			background: black;
			z-index:100;
		}
		.right-element{
			display: flex;
			justify-content: flex-end !important;
		}
		.profileManage{
			width: 300px;
			height: auto;
			z-index: 20;
			background: white;
			position:absolute;
			right: 20px;
			top: 75.8px;

			.profile-inputs,.profile-inputs:focus{
				background: transparent;
				border:0;
				border-bottom:1px solid #a59b9b;
				border-radius: 0px;
				outline:none;
				box-shadow:none;
			}
		}
		.profile-photo-change{
			width:100px;
			height:100px;
			background: black;
			border-radius: 50%;
			overflow:hidden;

			img{
				width:100%;
				height:100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.edit-icon-wrapper{
			height:0;
			transition: 0.3s;

		}
		.profile-photo-change:hover .edit-icon-wrapper{
			transition: 0.3s;
			height: 40%
		}
		#rev{
			border-radius: 30px;
			transition: 0.3s;
		}
		#rev:hover{
			transition: 0.3s;
			z-index: 500;
			background: #e6c697 !important;
		}
	</style>
	<!-- MESSAGES-->
    <script>
    window.onload = function(){
        {% if messages %}
            {% for message in messages %}
                alert("{{message|escapejs}}");
            {% endfor %}
        {% endif %}
    };
    </script>
	<script>
		  function DisableBackButton() {
			   window.history.forward()
		  }
		  DisableBackButton();
		  window.onclick = DisableBackButton;
		  window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
		  window.onunload = function() { void (0) }
    </script>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div id="header-wrap">

		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a href="#"><i class="icon icon-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a href="#"><i class="icon icon-behance-square"></i></a>
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
							<label class="text-dark name-user" style="position:relative;top:10px;right:10px;text-transform:uppercase;">{{user.name}}</label>
							<div class="profile-pic" style="position:relative;">
								<img class="profile-photo" src="{{user.user_photo.url}}" style="width:100%;height:100%;border-radius:50%;object-fit:cover;">
							</div>
						</div>
					</div>
					<div class="profileManage" style="display:none;">
						<form id="profileupdateForm" method="post" action="homeuserupd/{{user.id}}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="profile-photo-change" style="position:relative;z-index:50;margin: 10px auto !important;">
								<img id="profileImage" src="{{user.user_photo.url}}">
								<div class="edit-icon-wrapper" style="position:absolute;bottom:0;width:100%;background:#181414b0;z-index:25;">
									<img style="object-fit: contain;width:24px;height:24px;position:relative;left:37px;" src="{% static 'images/chocolat/editIcon.png' %}">
								</div>
							</div>
							<input accept="image/*" type="file" name="picture" class="userImg form-control d-none">
							<input type="text" name="name" class="form-control text-center profile-inputs" value="{{user.name}}">
							<input type="text" class="form-control text-center profile-inputs" name="username" value="{{user.username}}">
							<input type="text" class="form-control text-center profile-inputs" name="ml" value="{{user.email}}">
							<input type="text" class="form-control text-center profile-inputs" name="phone" value="{{user.phone}}">
							<div style="margin: 10px 30% !important;"><input type="submit" value="Update" class="btn btn-danger"></div>
						</form>
					</div>
				</div>
			</div>
		</div><!--top-content-->

		<header id="header" style="padding:15px;">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a href="index.html"><img src="{% static 'images/main-logo.png' %}" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<li class="menu-item active"><a href="#home">Home</a></li>
									<li class="menu-item"><a href="userallbooks" class="nav-link">All Books</a></li>
									<li class="menu-item"><a href="#top_rated" class="nav-link">Top Rated</a></li>
									<li class="menu-item"><a href="#Reviews" class="nav-link">Reviews</a></li>
									<li class="menu-item"><a href="library" class="nav-link">Library</a></li>
									<li class="menu-item"><a href="logout" class="nav-link"><button id="logoutbutton" style="padding:7px 10px;margin:0;height:auto;border: 2px solid #daa556;" class="btn">LOGOUT</button></a></li>
								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
	</div><!--header-wrap-->

	<section id="billboard">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>

					<div class="main-slider pattern-overlay">
						{% for book in books %}
							<div class="slider-item">
								<div class="banner-content">
									<h2 class="banner-title">{{book.title}}</h2>
									<p style="text-align: justify;height:250px;width:400px;   display: -webkit-box;
									-webkit-box-orient: vertical;-webkit-line-clamp: 6;overflow: hidden;text-overflow: ellipsis;
  									max-height: calc(2.2em * 5);line-height: 1.8em;">{{book.description}}</p>
									<div class="btn-wrap">
										<a href="addtolib/{{book.id}}" class="btn btn-outline-accent btn-accent-arrow">Add To List<i
												class="icon icon-ns-arrow-right"></i></a>
									</div>
								</div><!--banner-content-->
								<img src="{{book.book_photo.url}}" alt="banner" class="banner-image" style="width: 400px;height: 593px;">
							</div><!--slider-item-->
						{% endfor %}
					</div><!--slider-->

					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>

				</div>
			</div>
		</div>

	</section>

	<section id="client-holder" data-aos="fade-up">
		<div class="container">
			<div class="row">
				<div class="inner-content">
					<div class="logo-wrap">
						<div class="grid">
							<a href="#"><img src="{% static 'images/client-image1.png' %}" alt="client"></a>
							<a href="#"><img src="{% static 'images/client-image2.png' %}" alt="client"></a>
							<a href="#"><img src="{% static 'images/client-image3.png' %}" alt="client"></a>
							<a href="#"><img src="{% static 'images/client-image4.png' %}" alt="client"></a>
							<a href="#"><img src="{% static 'images/client-image5.png' %}" alt="client"></a>
						</div>
					</div><!--image-holder-->
				</div>
			</div>
		</div>
	</section>

	<section id="featured-books" class="py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>Some quality items</span>
						</div>
						<h2 class="section-title">All Books</h2>
					</div>

					<div class="product-list" data-aos="fade-up">
						<div class="row">
							{% for book in books %}
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<img src="{{book.book_photo.url}}" alt="Books" class="product-item" style="width:288px;height:390px;">
										</figure>
										<figcaption>
											<h3>{{book.title}}</h3>
											<span>{{book.authors_name}}</span>
										</figcaption>
									</div>
								</div>
							{% endfor %}
						</div><!--ft-books-slider-->
					</div><!--grid-->
				</div><!--inner-content-->
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="btn-wrap align-right">
						<a href="userallbooks" class="btn-accent-arrow">View all products <i
								class="icon icon-ns-arrow-right"></i></a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="top_rated" class="leaf-pattern-overlay" style="background:#EDEBE4;padding:20px 0;background-image: url({% static 'images/leaf.png' %}) !important">
		<div class="corner-pattern-overlay"></div>
		<div class="container">
			<div class="row justify-content-center"  style="position:relative;top:20px;">

				<div class="col-md-8">

					<div class="row">
						{% if top_book %}
							<div class="col-md-6">
								<figure class="products-thumb">
									{% if top_book.book.book_photo %}
										<img style="height: 513px;" src="{{top_book.book.book_photo.url}}" alt="book" class="single-image">
									{% else %}
										<h4>no photo</h4>
									{% endif %}
								</figure>
							</div>
						{% endif %}

						<div class="col-md-6">
							<div class="product-entry">
								<h2 class="section-title divider">Top Rated Book</h2>
								<div class="products-content">
									{% if top_book %}
										<div class="author-name">By {{top_book.book.authors_name}}</div>
										<h3 class="item-title">{{top_book.book.title}}</h3>
										<p style="text-align: justify;height:250px;width:400px;display: -webkit-box;
										-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;text-overflow: ellipsis;
										max-height: calc(1.2em * 3);line-height: 1.2em;">{{top_book.book.description}}</p>
	<!--									<div class="item-price">$ 45.00</div>-->
										<div class="btn-wrap">
											<a href="addtolib/{{top_book.book.id}}" class="btn-accent-arrow">Add To List <i
													class="icon icon-ns-arrow-right"></i></a>
										</div>
									{% else %}
										 <h3 class="text-center">No Books Published.</h3>
									{% endif %}
								</div>


							</div>
						</div>

					</div>
					<!-- / row -->

				</div>

			</div>
		</div>
	</section>



	<section id="quotation" class="align-center pb-0 mb-5">
		<div class="inner-content" style="margin-top: 50px;">
			<h2 class="section-title divider">Quote of the day</h2>
			<blockquote data-aos="fade-up">
				<q>“The more that you read, the more things you will know. The more that you learn, the more places
					you’ll go.”</q>
				<div class="author-name">Dr. Seuss</div>
			</blockquote>
		</div>
	</section>



	<section id="subscribe">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-8">
					<div class="row">

						<div class="col-md-6">
							<div class="title-element">
								<h2 class="section-title divider">Subscribe to our newsletter</h2>
							</div>

						</div>
						<div class="col-md-6">

							<div class="subscribe-content" data-aos="fade-up">
								<p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit
									adipiscing enim pharetra hac.</p>
								<form id="form">
									<input type="text" name="email" placeholder="Enter your email addresss here">
									<button class="btn-subscribe">
										<span>send</span>
										<i class="icon icon-send"></i>
									</button>
								</form>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	<section id="Reviews" class="py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>Read Reviews</span>
						</div>
						<h2 class="section-title">Latest Reviews</h2>
					</div>
					<br>
					<div class="row">
						{% if latest_review %}
							{% for item in latest_review %}
								<div class="col-md-4">
									<div class="review-item" id="rev" style="min-height:300px;background:#efefef;position:relative;">
										<div class="user_dp" style="width:90px;height:90px;border-radius:50%;background:red;position:absolute;top:-45px;left:calc(50% - 45px);">
											<img style="width:90px;height:90px;border-radius:50%;object-fit:cover;" src="{{item.user.url}}">
										</div>
										<br><br>
										<p class="fs-5 text-center m-0 p-0" style="text-transform:uppercase;">{{item.book.title}}</p>
										<div style="display:flex;justify-content:center;padding: 10px 0;"><img src="{% static 'images/chocolat/quotes-gray.png' %}"></div>
										<div style="position:relative;text-align:justify;width:80%;margin:0 auto;display: -webkit-box;
												-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;
												text-overflow: ellipsis;max-height: calc(1.5em * 4);line-height: 1.5em;">
											<span style="display:contents;">{{item.review.review}}</span></div>
										<p style="width:80%;margin:0 auto;text-align:right;padding: 10px 0px;">~ {{item.review.name}}</p>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<h2 class="text-center">Currently, No Reviews</h2>
						{% endif %}
					</div>
					<br>
					<div class="row">

						<div class="btn-wrap align-center">
							<a href="review" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Read All Reviews<i
									class="icon icon-ns-arrow-right"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="{% static 'images/main-logo.png' %}" alt="logo" class="footer-logo">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus
								nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames
								semper erat ac in suspendisse iaculis.</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>About Us</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">vision</a>
							</li>
							<li class="menu-item">
								<a href="#">articles </a>
							</li>
							<li class="menu-item">
								<a href="#">careers</a>
							</li>
							<li class="menu-item">
								<a href="#">service terms</a>
							</li>
							<li class="menu-item">
								<a href="#">donate</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Home</a>
							</li>
							<li class="menu-item">
								<a href="#">Books</a>
							</li>
							<li class="menu-item">
								<a href="#">Authors</a>
							</li>
							<li class="menu-item">
								<a href="#">Subjects</a>
							</li>
							<li class="menu-item">
								<a href="#">Advanced Search</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Sign In</a>
							</li>
							<li class="menu-item">
								<a href="#">View Cart</a>
							</li>
							<li class="menu-item">
								<a href="#">My Wishtlist</a>
							</li>
							<li class="menu-item">
								<a href="#">Track My Order</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Help</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="#">Help center</a>
							</li>
							<li class="menu-item">
								<a href="#">Report a problem</a>
							</li>
							<li class="menu-item">
								<a href="#">Suggesting edits</a>
							</li>
							<li class="menu-item">
								<a href="#">Contact us</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2022 All rights reserved.</p>
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$(".profile-pic").click(function(){
				$(".profileManage").toggle();
			});
		});
	</script>
	<script>
		const fileopentrigger = document.querySelector('.edit-icon-wrapper')
		const fileinput = document.querySelector('.userImg')
		const formProfile = document.getElementById('profileupdateForm')
		fileopentrigger.addEventListener('click', () => {
			fileinput.click();
		})

	</script>
	<script>
		const profileImageInput = document.querySelector('.userImg');
		let selectedFile = null;

		profileImageInput.addEventListener('change', function(event) {
			if (event.target.files && event.target.files.length > 0) {
				selectedFile = event.target.files[0];
<!--				console.log("Selected file:", selectedFile);-->
<!--				console.log(event)-->
				const reader = new FileReader();
				reader.onload = function(e) {
					document.getElementById('profileImage').src = e.target.result;
				};
				reader.readAsDataURL(selectedFile);
			}
		});
	</script>
	<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>

</html>